.header{
    width:80%;
    background-color: rgb(238, 218, 218);
    color:rgb(7, 7, 7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.btn{
    color:rgb(14, 12, 12);
    height:40px;
    font-size: 1rem;
    width: 80px;
    background: rgb(209, 219, 209);
    border-radius: 5px;
}